.titleDetails{
    display: flex;
    justify-content: space-between;
}

.iconRetour{
    width: 30%;
    margin: 1%;
    border-radius: 10px;
    background-color: #f9c308;
    padding: 1%;
}

.buttonRetour{
    display: flex;
    align-items: center;
    background-color: #fbdb6b;
    border-radius: 10%;
    width: 20%;
}

.grandPhotoDetils{
    width: 100%;
}

.photoDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.photos{
    display: flex;
    justify-content: center;
    width: 60%;
    border-style: solid;
    border-color: #f9c308;
}

.petitIcon{
    width: 7%;
    margin-right: 2%;
}

.informationSection{
    display: flex;
    justify-content: center;
    width: 50%;
    text-decoration: none;
}

.info{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.infoGauche{
    width: 50%;
}

.infoDroit{
    width: 50%;
}

.infoText{
    width: 50%;
}

.titleDetail{
    display: flex;
    justify-content: space-between; 
    width: 60%;   
}

.sectionMain {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.sectionContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*navbar*/
.sectionNav {
    background-color: rgb(238, 243, 146);
    width: 15%;
    border-style: solid;
    border-color: #f9c308;
    padding: 2%;
}

.headerLien{
    margin: 2%;
}

a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}