/**
* ETML
* Auteur      : Mustafa Yildiz
* Date        : 29.09.2023
* Description : La Page pour style de Footer
**/

/*Layout*/

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.containerLogoResauxSociaux {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.iconResauxSociaux {
    width: 30%;
}

.réseauxSociaux {
    display: flex;
    width: 50%;
    margin: 2%;
    flex-wrap: wrap;
}

/*typology*/
p {
    font-size: 0.75em;
}

.copyright {
    font-size: 0.6em;
}

/*colors*/
footer {
    background-color: blue;
    color: white;
}

.buttonSubmit {
    background-color: #2F7CBD;
}