/* Main */
body{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.logoGrand{
    width: 500px;
    border-radius: 5px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

select{
    margin: 10px;
    height: 30px;
    width: auto;
}

.containerChercher{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.buttonChercher{
    width: 200px;
    height: 30px;
    margin: 20px;
    border-radius: 5px;
}

.containerLogo{
    display: flex;  
    align-items: end;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap; 
}

.logoMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    padding: 10px;
}

.logoBox{
    width: 120px;
}