/**
* ETML
* Auteur      : Mustafa Yildiz
* Date        : 29.10.2023
* Description : La Page pour style de grandPhotoPages
**/

.titleDetails {
    display: flex;
    justify-content: space-between;
}

.iconRetour {
    width: 30%;
    margin: 1%;
    border-radius: 10px;
    padding: 1%;
}

.buttonRetour {
    display: flex;
    align-items: center;
    border-radius: 10%;
    width: 25%;
}

.grandPhotoDetils {
    width: 100%;
}

.photoDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.photos {
    display: flex;
    justify-content: center;
    width: 60%;
}

.petitIcon {
    width: 7%;
    margin-right: 2%;
}

.informationSection {
    display: flex;
    justify-content: center;
    width: 80%;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.infoGauche {
    width: 50%;
}

.infoDroit {
    width: 50%;
}

.infoText {
    width: 50%;
}

.titleDetail {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.sectionMain {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.sectionContainer {
    width: 80%;
}

/*typology*/
h3 {
    font-size: 0.8em;
}

h4 {
    font-size: 0.8em;
}

h5 {
    font-size: 1em;
}

.info {
    font-size: 0.8em;
}

/*colors*/
.iconRetour {
    background-color: #f9c308;
}

.buttonRetour {
    background-color: #fbdb6b;
}

.photos {
    border-style: solid;
    border-color: #f9c308;
}