/**
* ETML
* Auteur      : Mustafa Yildiz
* Date        : 13.10.2023
* Description : La Page pour style de contactPage
**/

/*Layout*/
.sectionMain {
    display: flex;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    width: 70%;
    margin-bottom: 5%;
}

.titrePersonnel {
    display: flex;
    justify-content: start;
    align-items: center;
}

.addresse {
    display: flex;
}

.sectionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.inputField {
    width: 80%;
}

#uname {
    width: 100%;
}

.contacts,
.personnalise {
    display: flex;
    flex-direction: column;
}

.Message,
.e-mail,
.Téléphone,
.Ville,
.NPA,
.Rue,
.Nom,
.Prenom,
.Titre {
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

.utilisateur {
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
}

/*colors*/
.form {
    border-style: solid;
    border-color: #f9c308;
}

.inputField:invalid {
    background-color: rgb(238, 243, 146);
}

.inputField:valid {
    background-color: rgba(47, 124, 189, 0.1);
}